* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.parent {
    background-color: #00008B;
    height: 60px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.child {
    margin: 10px;

    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px 20px 5px;
    padding: 10px;
    transition: border-radius 2s;
    cursor: pointer;

    &:hover {
        border-radius: 20px 5px;
        border-color: blue;
    }
}

p {
    padding: 8px;
}




input {

    border-radius: 12px;
    padding: 8px 16px;
    outline: none;
    border: none;
    flex: 1;
    max-width: 400px;


}

.first-items {
    display: flex;
}

.child.five {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-width: 3px;
    border-color: orange;
    background-color: rgb(22, 135, 135);
    transition: 600ms;


    &:hover {
        border: 9px dotted orange;

    }
}


#container {
    width: 100%;
    display: grid;

    grid-template-areas:
        "menu  header"
        "menu   main"
        "menu   main"



}

.box-1 {
    grid-area: header;
    width: 100%;
}

.box-2 {

    grid-area: menu;
    text-align: center;
    margin-left: 10px;
    padding: 48px 16px 0px;
    width: 100%;
    border: 1px solid grey;


    row-gap: 50px;
    background-color: #C7CAED;

}







.link {

    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
    border-radius: 8px;
    align-items: center;



    &:hover {
        background-color: #6e6ee685;

    }

    text-decoration: none;
}


.box-3 {

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 260px);
    gap: 24px 8px;
    padding: 24px 8px 24px 24px;
    justify-content: center;
    /* justify-items: center; */


}

.childs {

    left: 40px;
    height: fit-content;
    width: 260px;
    height: 212px;
    background-color: #D3D3D3;
    padding: 4px;



}

.hover-box3 {
    display: block;
    position: absolute;
    top: 85%;
    left: 81%;
    width: 38px;
    height: 16px;
    border-radius: 3px;
    background-color: rgba(255, 255, 0, 0.374);
}

.icon {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3px;
    cursor: pointer;
}

.imgcon {
    position: relative;
    height: 142px;
    border-radius: 10px;
    background-color: #999999;

    &:hover {
        .hover-box1 {
            position: absolute;
            top: 8px;
            left: 85%;
            width: 28px;
            height: 28px;
            border-radius: 3px;
            background-color: brown;
            cursor: pointer;
        }

        .hover-box2 {

            position: absolute;
            top: 42px;
            left: 85%;
            width: 28px;
            height: 28px;
            border-radius: 3px;
            background-color: brown;
            cursor: pointer;
        }


    }

}

.imgcon2 {
    margin: 8px 0px 0px;
    height: 32px;

    border-radius: 10px;

    background-color: #999999;
}

.imgcon3 {
    margin-top: 8px;

    height: 14px;
    border-radius: 10px;
    background-color: #999999;
}

.nav-grid {
    display: flex;

    padding: 8px;
    grid: nav;
}


/* @media (width<=768px) {
    .box-2 {
        display: none;
    }

    .box-3 {

        grid-template-columns: 1fr;


    }

    #container {

        grid-template-areas:
            "header"
            " nav"
            "main"
            "main"
            "main";




    }

    .childs {
        width: 100%;
    }

    .nav-grid::-webkit-scrollbar {
        display: none;
    }


    .nav-grid {
        display: flex;
        justify-content: space-evenly;
        padding: 24px;
        gap: 24px;
        grid: nav;
        width: 100%;
        overflow: auto;



    }

    label:hover {
        cursor: pointer;
    }

    .active {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    .parent input {
        display: none;
    }
}

@media (width<998px) {
    input{
        
    }
}
@media (width>769px) {
    .nav-grid {
        display: none;


    }
} */