* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.emoji-face {
    width: 100px;
    height: 100px;
    background: none;
    background-color: linear-gradient(#FCF7C3, #EFE323, #F0EA0D);
    border: 2px solid goldenrod;
    border-radius: 50px;
}

.mouth-round {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid #8E5F10;
}


.left {
    width: 10px;
    height: 14px;
    border: 1px solid #8E5F10;
    border-radius: 10px;

}

.right {
    width: 10px;
    height: 14px;
    border: 1px solid #8E5F10;
    border-radius: 10px;
}

.mouth-flat {
    width: 32px;
    height: 4px;
    border: 1px solid #8E5F10;
    border-radius: 2px;
}

.mouth-amazed {
    width: 32px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #8E5F10;
}

.mouth-worried {
    width: 32px;
    height: 16px;
    /* border-bottom-radius: 8px; */
    border-bottom: 1px;
    border-radius: 8px 8px 18px 18px;
}